body,
html {
  margin: 0;
  font-size: 16px;
  font-family: Mulish, sans-serif;
  background-color: #f3f4f5;
}

/*====================H E R O================*/

.hero_section {
  background-image: url(./resources/landing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_section img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 1px;
  left: 1px;
  margin: auto auto -1px -1px;
}

/*===========HEADER==========*/
header {
  color: #fff;
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: rgb(65, 63, 63);
  height: 50px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin-right: 80px;
  display: flex;
}
nav ul > :last-child {
  color: #d1002c;
  transition-duration: 200ms;
  transition-property: color;
  transition-timing-function: ease-in;
}
nav ul > :last-child:hover {
  color: #fff;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: 80px;
  padding-top: 5.5px;
}

.hamburger {
  position: relative;
  display: none;
  bottom: 4.5px;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  padding-top: 15px;
  padding-right: 1rem;
}

.hamburger:focus {
  outline: none;
}
.hamburger::before {
  content: "MENU";
}

/*===============h1=============*/
.h1_wrapper {
  display: flex;
  justify-content: center;
  padding-left: 8.2em;
}

.h1_container {
  display: block;
  margin: 2.5em auto;
  max-width: 70%;
  max-height: 70%;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
  transition-duration: 300ms;
  transition-property: text-shadow;
  transition-timing-function: ease-in-out;
}
.h1_container:hover {
  text-shadow: 3px 3px 3px #d1002c;
}
#sub_h1 {
  font-size: 1.3rem;
  letter-spacing: normal;
}
#sub_h1::before {
  content: "";
  background: #fff;
  display: block;
  width: 50px;
  height: 2px;
  position: relative;
  margin: auto;
  right: 7.2em;
  top: 1.6em;
}
/* ========EXPLORE BUTTON=========*/
.explore {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  transition-duration: 300ms;
  transition-property: text-shadow;
  transition-timing-function: ease-in-out;
}
.explore:hover {
  text-shadow: 2px 2px 2px #d1002c;
}
.explore > .fa-arrow-down {
  margin-top: 1em;
}
/*============SOCIALS============*/
.socials {
  max-width: 30%;
  max-height: 30%;
  padding-right: 5em;
  font-size: 1.1rem;
  margin-top: auto;
}
.socials ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.socials i {
  color: #fff;
}

/* ================ABOUT============== */
.about {
  height: auto; /*================================HEIGHT BUG SOLVED=====================*/
  max-width: 100%;
}

#about_title {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1em;
}

.flaticon_layer {
  max-height: 30%;
  display: flex;
  justify-content: center;
  gap: 9%;
}

.flaticon_layer img {
  max-width: 70px;
}

div.item {
  display: block;
  text-align: center;
}
.caption {
  display: block;
  margin-top: 1.3em;
  font-size: 1rem; /*=============================HORIZONTAL SCROLL==========*/
  font-weight: 400;
}

.about_container {
  max-width: 65%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

#left_article {
  display: flex;
  max-width: 66.66667%;
  text-align: right;
  box-sizing: border-box;
  line-height: 2em;
}

#left_article h3 {
  font-size: 2rem;
}

.left_column_container {
  max-width: 50%;
}

#right_article {
  max-width: 33.33333%;
  line-height: 2em;
}

#about_img {
  max-height: 100%;
  width: 100%;
  background-image: url(./resources/about_mini_image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 10px;
  border: none;
}

/*===================COUNTERS=============*/

.counter_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16%;
  margin-top: 3em;
}

.counter_item {
  display: block;
  text-align: center;
}

#counter_number {
  font-size: 3.1rem;
  border-bottom: 2px solid red;
}

.counter_attribute {
  display: block;
  margin-top: 1em;
  font-size: 1.3rem;
}
/*===================================SKILLS PAGE==========================*/

.skills {
  height: fit-content;
  width: 100%;
  margin-top: 5%;
  background-color: #323232;
}

#skills_wave {
  display: block;
  width: 100%;
  max-height: 20vh; /*nu uita sa faci 20 % pt mobile */
  position: relative;
  bottom: 1px;
  left: 1px;
  margin-left: -1px;
}

.image_container {
  width: 100%;
  display: flex;
  gap: 4%;
}

#skills_img {
  display: block;
  max-height: 35%;
  max-width: 35%;
}

.skill_container {
  width: 35%;
}
#skill_list,
.skill_title_container > ul {
  list-style-type: none;
}

#skill_list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  height: 26%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1.8vw;
  font-weight: 700;
  color: #fff;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 9px -5px #f3f4f5;
}

.grid_item_1 {
  width: 60%;
  background-color: #984d65;
}
.grid_item_2 {
  width: 40%;
  background-color: #f03a47;
}
.grid_item_3 {
  width: 30%;
  background-color: #3c61b6;
}
.grid_item_4 {
  width: 70%;
  background-color: #f8d35f;
}
.grid_item_5 {
  width: 53%;
  background-color: #d38d5f;
}
.grid_item_6 {
  width: 47%;
  background-color: #e3c57e;
}

.skill_title_container {
  margin-right: auto;
  max-height: 45%;
}

#skill_title {
  color: #fff; /* aici bagi animatie font-size =============================*/
  transition: all 1.3s ease;
  font-weight: 700;
  font-size: 3vw;
  opacity: 0;
}
#skill_title.scrolled {
  opacity: 1;
}

#skill_title > li {
  text-align: center;
  padding-right: 1em;
}

.services_container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 3%;
}
.services_container ul {
  list-style-type: none;
}

.services_container ul span {
  color: #fff;
  font-size: 2vw;
  display: block;
  margin-right: 2%;
}
.services_container img {
  max-width: 10%;
}

.services_container ul > li {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

/*==============================================================QUERRIES=================================================================*/
@media screen and (min-width: 310px) and (max-width: 480px) {
  /*MOBILE PHONES*/

  /*===========HEADER/NAV============*/

  header {
    height: 90vh;
  }

  .socials {
    display: none;
  }
  .h1_wrapper {
    padding: 0;
  }
  .h1_container {
    font-size: 1.5rem;
  }

  #sub_h1::before {
    position: relative;
    top: 1em;
  }

  .explore {
    font-size: 1.5rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.clicked {
    position: relative;
    top: 0.1px;
    color: #d1002c;
    transition: all 0.1s;
  }
  .hamburger.clicked::before {
    content: "";
  }

  .nav_ul {
    display: none;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }

  .nav_ul.show {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(48, 52, 105);
    z-index: 1;
  }

  .logo {
    margin-left: 1em;
  }

  /*=====================ABOUT ME==============*/
  #about_title {
    font-size: 1.5rem;
    margin-top: 4em;
  }

  .flaticon_layer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .flaticon_layer img {
    max-width: 80px;
  }

  div.item {
    margin-top: 2.5em;
  }
  .caption {
    margin-top: 0.5em;
  }

  .about_container {
    display: block;
    max-height: unset;
    max-width: unset;
    height: fit-content;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }

  #left_article {
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    max-width: unset;
    text-align: unset;
  }

  #left_article h3 {
    text-align: center;
  }

  .left_column_container {
    width: 100%;
    max-width: unset;
  }

  #right_article {
    max-width: unset;
    line-height: 1.8em;
  }

  #about_img {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .counter_container {
    width: 94%;
    height: 50vh;
    flex-direction: column;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 3%;
  }

  .counter_item {
    text-align: unset;
  }

  #counter_number {
    font-size: 2rem;
  }

  .counter_attribute {
    display: inline;
  }
}
