body,
html {
  margin: 0;
  font-size: 16px;
  font-family: Mulish, sans-serif;
}

/*===========HEADER==========*/
header {
  background: url(./resources/bw-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 100vh;
}
/*===========NAV==============*/
nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* align-items: center; */
  background-color: rgb(65, 63, 63);
  height: 50px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin-right: 80px;
  display: flex;
}
nav ul > :last-child {
  color: #d1002c;
  transition-duration: 200ms;
  transition-property: color;
  transition-timing-function: ease-in;
}
nav ul > :last-child:hover {
  color: white;
}

.logo {
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: 80px;
  padding-top: 5.5px;
}

.hamburger {
  position: relative;
  display: none;
  bottom: 4.5px;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  padding-top: 15px;
  padding-right: 1rem;
}

.hamburger:focus {
  outline: none;
}
.hamburger::before {
  content: "MENU";
}

/*===============h1=============*/
.h1_wrapper {
  display: flex;
  justify-content: center;
  padding-left: 8.2em;
}

.h1_container {
  display: block;
  margin: 2.5em auto;
  max-width: 70%;
  max-height: 70%;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
  color: #fff;
  transition-duration: 300ms;
  transition-property: text-shadow;
  transition-timing-function: ease-in-out;
}
.h1_container:hover {
  text-shadow: 3px 3px 3px #d1002c;
}
#sub_h1 {
  font-size: 1.3rem;
  letter-spacing: normal;
}
#sub_h1::before {
  content: "";
  background: #fff;
  display: block;
  width: 50px;
  height: 2px;
  position: relative;
  margin: auto;
  right: 7.2em;
  top: 1.6em;
}
/* ========EXPLORE BUTTON=========*/
.explore {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  transition-duration: 300ms;
  transition-property: text-shadow;
  transition-timing-function: ease-in-out;
}
.explore:hover {
  text-shadow: 2px 2px 2px #d1002c;
}
.explore > .fa-arrow-down {
  margin-top: 1em;
}
/*============SOCIALS============*/
.socials {
  max-width: 30%;
  max-height: 30%;
  padding-right: 5em;
  font-size: 1.1rem;
  margin-top: auto;
}
.socials ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.socials i {
  color: white;
}

/* ================ABOUT============== */
.about {
  height: 100vh;
  max-width: 100%;
}

#about_title {
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1em;
}

.flaticon_layer {
  max-height: 30%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.flaticon_layer img {
  max-width: 60px;
}

div.item {
  display: block;
  text-align: center;
}
.caption {
  display: block;
  margin-top: 1.3em;
  font-size: 1.4rem;
  font-weight: 400;
}

.about_container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#left_article {
  display: flex;
  width: 50%;
}

#right_article {
  width: 50%;
  border: solid purple;
}

#img {
  height: 20em;
  width: 100%;
  box-sizing: border-box;
  margin-left: 1.5em;
  margin-right: 1.5em;
  box-sizing: border-box;
  border: solid red;
}

/*===================QUERRIES==================*/
@media screen and (max-width: 767px) {
  .socials {
    display: none;
  }
  .h1_wrapper {
    padding: 0;
  }
  .h1_container {
    font-size: 1.5rem;
  }

  #sub_h1::before {
    position: relative;
    top: 1em;
  }

  .explore {
    font-size: 1.5rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.clicked {
    position: relative;
    top: 0.1px;
    color: #d1002c;
    transition: all 0.1s;
  }
  .hamburger.clicked::before {
    content: "";
  }

  .nav_ul {
    display: none;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }

  .nav_ul.show {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(48, 52, 105);
    z-index: 1;
  }

  .logo {
    margin-left: 1em;
  }
}
