body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f4f5;
  /* overflow-x: hidden; */
}

/*====================H E R O================*/

.hero_section {
  background-image: url(./resources/landing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_section img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 1px;
  left: 1px;
  margin: auto auto -1px -1px;
}

/*===========HEADER==========*/
header {
  color: #fff;
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: #373737;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 4px solid transparent;
  border-radius: 0% 0% 100% 100% / 0% 0% 35% 35%;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin-right: 80px;
  display: flex;
}
nav ul > :last-child {
  color: #f8d35f;
  transition: all 0.2s ease;
}
nav ul > :last-child:hover {
  color: #fff;
}

nav li {
  cursor: pointer;
}

.logo {
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: 80px;
  padding-top: 5.5px;
}

.hamburger {
  height: 50px;
  width: 70px;
  position: relative;
  display: none;
  bottom: 4.5px;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  padding-top: 15px;
  padding-right: 1rem;
  z-index: 1;
}

.fa-bars,
.fa-times {
  font-size: 2rem;
}

.hamburger:focus {
  outline: none;
}

/*===============h1=============*/
.h1_wrapper {
  display: flex;
  justify-content: center;
  /* padding-left: 8.2em; */
}

.h1_container {
  display: block;
  margin: 2.5em auto;
  max-width: 70%;
  max-height: 70%;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
  transition-duration: 300ms;
  transition-property: text-shadow;
  transition-timing-function: ease-in-out;
}
.h1_container:hover {
  text-shadow: 3px 3px 3px #f8d35f;
}
#sub_h1 {
  font-size: 1.3rem;
  letter-spacing: normal;
}
#sub_h1::before {
  content: "";
  background: #fff;
  display: block;
  width: 50px;
  height: 2px;
  position: relative;
  margin: auto;
  right: 7.2em;
  top: 2.2em;
}
/* ========EXPLORE BUTTON=========*/
.explore {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  transition-duration: 300ms;
  transition-property: text-shadow;
  transition-timing-function: ease-in-out;
}
.explore:hover {
  text-shadow: 2px 2px 2px #f8d35f;
}
.explore > .fa-arrow-down {
  margin-top: 1em;
}
.fa-arrow-down {
  animation: move-down 2.5s infinite;
}
@keyframes move-down {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateY(17px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*============SOCIALS============*/
.socials {
  max-width: 30%;
  max-height: 30%;
  padding-right: 5em;
  font-size: 1.1rem;
  margin-top: auto;
}
.socials ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.socials i {
  color: #fff;
}

/* =====================================ABOUT=============================== */
.about {
  height: auto; /*height bug ==========================================*/
  max-width: 100%;
}

#about_title {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1em;
  opacity: 0;
  transition: opacity 1.4s ease;
}

#about_title.scrolled {
  opacity: 1;
}

.flaticon_layer {
  max-height: 30%;
  display: flex;
  justify-content: center;
  gap: 8%;
  transform: translateY(40%);
  opacity: 0;
  transition: transform 0.7s ease, opacity 1.4s ease;
}

.flaticon_layer.scrolled {
  transform: translateY(0%);
  opacity: 1;
}

.flaticon_layer img {
  max-width: 90px;
}

div.item {
  display: block;
  text-align: center;
}
.caption {
  display: block;
  margin-top: 1.3em;
  font-size: 1rem; /*=============================HORIZONTAL SCROLL==========*/
  font-weight: 600;
  color: #343a40;
}

.about_container {
  max-width: 65%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.about_container p {
  color: #495057;
  font-weight: 600;
}

#left_article {
  display: flex;
  max-width: 66.66667%;
  text-align: right;
  box-sizing: border-box;
  line-height: 2em;
}

#left_article h3 {
  font-size: 2rem;
}

.left_column_container {
  max-width: 50%;
}

#right_article {
  max-width: 33.33333%;
  line-height: 2em;
}

#about_img {
  max-height: 60vh;
  width: 100%;
  background-image: url(./resources/about_mini_image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 10px;
  border: none;
}

/*===================COUNTERS=============*/

.counter_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16%;
  margin-top: 3em;
}

.counter_item {
  display: block;
  text-align: center;
}

#counter_number {
  font-size: 3.1rem;
  color: #ecc348;
}
#counter_number::after {
  content: "%";
}

.counter_attribute {
  display: block;
  margin-top: 1em;
  font-weight: 600;
  font-size: 1.3rem;
  color: #22223b;
}
/*===================================SKILLS PAGE==========================*/

.skills {
  height: 100%;
  width: 100%;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #141414ef;
  border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%;
}

.image_container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 4%;
}

#skills_img {
  display: block;
  max-height: 35%;
  max-width: 35%;
}

.skill_container {
  width: 35%;
}
#skill_list,
.skill_title_container > ul {
  list-style-type: none;
}

#skill_list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 7%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid transparent;
  border-radius: 50% 50% 50% 50% / 100% 100% 100% 100%;
  height: 24%;
  transition: all 0.1s ease-out;
  cursor: pointer;
  font-size: 1.8vw;
  font-weight: 700;
  /* color: #fff;
  opacity: 1;
  box-shadow: 0px 12px 9px -5px #f3f4f5; */
  transition: all 0.7s ease;
}

.box.showing {
  /* transform: scale(1.1); */
  box-shadow: 0px 12px 9px -5px #f3f4f5;
  opacity: 1;
  color: #fff;
}

.grid_item_1 {
  width: 60%;
  background-color: #984d65;
}
.grid_item_2 {
  width: 40%;
  background-color: #f03a47;
}
.grid_item_3 {
  width: 37%;
  background-color: #3c61b6;
}
.grid_item_4 {
  width: 63%;
  background-color: #f8d35f;
}
.grid_item_5 {
  width: 53%;
  background-color: #d38d5f;
}
.grid_item_6 {
  width: 47%;
  background-color: #e3c57e;
}

.skill_title_container {
  margin-right: auto;
  margin-top: auto;
  max-height: 45%;
}

#skill_title {
  color: #fff;
  transition: opacity 2s ease;
  font-weight: 700;
  font-size: 2.7vw;
  opacity: 0;
}
#skill_title.scrolled {
  opacity: 1;
}

#skill_title > li {
  text-align: center;
  padding-right: 1em;
}

.services_container {
  display: flex;
  justify-content: center;
  gap: 7%;
  box-sizing: border-box;
  margin-top: 3%;
  padding-bottom: 4%;
}
.services_container ul {
  list-style-type: none;
}

.services_container ul span {
  color: #fff;
  font-size: 1.8vw;
  display: block;
  margin-right: 2%;
}

#first_list span,
#second_list span {
  width: 60%;
}
.services_container img {
  max-width: 12%;
}

.services_container ul > li {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

/*=========================P R O J E C T S=======================*/
.projects {
  height: 100%;
  width: 100%;
}

.projects_title {
  width: 100%;
  font-weight: 800;
  text-align: center;
  opacity: 0;
  transition: all 1.4s ease;
}

.projects_title.scrolled {
  opacity: 1;
}

.projects_title h2 {
  font-size: 2.7vw;
  margin-bottom: 5%;
  margin-top: 5%;
}

.project1_container,
.project2_container {
  height: 50%;
  width: 75%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.project1_container,
.project2_container {
  transform: translateY(40%);
  opacity: 0;
  transition: transform 0.7s ease, opacity 1.4s ease;
}

.project1_container.scrolled,
.project2_container.scrolled {
  transform: translateY(0%);
  opacity: 1;
}

.project1_container h2,
.project2_container h2 {
  font-size: 2.7vw;
  font-weight: 500;
}

.project2_container {
  text-align: right;
  margin-top: 5%;
}

.project1_desc,
.project2_desc {
  max-width: 50%;
  margin: 5% auto 5% auto;
}

.project2_desc {
  padding-left: 2%;
}

.project1_img {
  max-height: 70vh;
  width: 40%;
  background-image: url(./resources/poza1\ test-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.project2_img {
  max-height: 70vh;
  width: 40%;
  background-image: url(./resources/poza2\ test-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.bottom_icon {
  max-width: 10%;
}

.top_text h2 {
  font-weight: 600;
}

/* ==========================================C O N T A C T======================================*/
.contact {
  width: 100%;
  height: auto;
  border-radius: 50% 50% 0% 0% / 5% 5% 0% 0%;
  background-color: #141414ef;
  color: #fff;
  margin-top: 5%;
  padding-top: 5%;
}

.contact_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.contact_form,
.contact_icons {
  width: 50%;
}

.contact_title {
  max-height: 30%;
  margin-left: 6%;
  color: #ffd42a;
}
.contact_title h2 {
  font-size: 4.3vw;
  font-weight: 700;
}

#contact_title_desc {
  max-width: 80%;
  font-size: 1.1rem;
  font-weight: 400;
}

.contact_form {
  max-height: 100%;
}

#form {
  box-sizing: border-box;
  width: 93%;
  height: fit-content;
  margin-left: 6%;
  margin-top: 8%;
}

.input_name,
.input_email,
.input_subject {
  border: 0;
  padding: 0;
  height: 55px;
  box-sizing: border-box;
  background-color: #f3f4f5;
}

.input_txt,
#submit_btn {
  background-color: #f3f4f5;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.1rem;
  padding-left: 15px;
}

#top_input_layout {
  width: 100%;
  display: flex;
}
#bot_input_layout {
  width: 100%;
}

.input_name {
  width: 40%;
  margin-right: 2%;
}

.input_email {
  width: 40%;
}

.input_subject {
  width: 82%;
  margin-top: 2%;
}

.input_txt {
  width: 82%;
  min-height: 150px;
  resize: none;
  border: none;
  margin-top: 2%;
  padding: 0;
  box-sizing: border-box;
}

.submit_btn > input {
  width: 30%;
  height: 55px;
  font-size: 1.1rem;
}

.submit_btn {
  margin-top: 2%;
  display: flex;
}

/*contact_icons*/

.contact_icons img {
  height: 100%;
  width: 40%;
}

.location_icon_wrapper,
.social_media_icon_wrapper,
.email_icon_wrapper {
  display: flex;
  height: auto;
  width: 100%;
}

.email_icon_wrapper {
  flex-direction: row-reverse;
}

.email_container {
  margin-right: auto;
}

#my_email {
  font-size: 1.4vw;
}

.location_container,
.email_container,
.media_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.media_container ul {
  list-style-type: none;
  height: 40%;
  width: 25%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.media_container i {
  color: #fff;
}

.contact_top_text {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 5px;
}

/*=======================================FOOTER==================================*/
.my_footer_section {
  width: 100%;
  height: 50vh;
  background-color: #141414ef;
  color: #fff;
}

footer {
  height: 80%;
  width: 100%;
  padding-top: 5%;
}

.top_border {
  border-top: 2px solid #f3f4f5;
  height: 60%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5%;
}

.top_border a {
  text-decoration: none;
  color: #f3f4f5;
  width: fit-content;
}

.copyright {
  width: 80%;
  margin: 2% auto;
  display: flex;
  justify-content: center;
  border: 2px solid #f3f4f5;
}

/*==============================================================QUERRIES=================================================================*/
@media screen and (min-width: 310px) and (max-width: 480px) {
  /*MOBILE PHONES*/

  /*===========HEADER/NAV============*/

  header {
    height: 80vh;
  }

  .socials {
    display: none;
  }
  .h1_wrapper {
    padding: 0;
  }
  .h1_container {
    font-size: 1.5rem;
  }

  #sub_h1::before {
    position: relative;
    top: 1em;
  }

  .explore {
    font-size: 1.5rem;
  }

  .hamburger {
    display: block;
  }

  #x_button {
    display: none;
  }

  #x_button.show {
    display: block;
  }
  #hamburger.clicked {
    display: none;
  }

  .nav_ul {
    position: absolute;
    left: 100%;
    width: 40%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    opacity: 0.4;
    background-color: #373737;
    transition: transform 0.3s ease-in-out, opacity 0.7s ease;
    border-left: 4px solid #f8d35f;
    border-radius: 30% 0% 0% 30% / 100% 0% 0% 100%;
  }

  .nav_ul li {
    margin-top: 5%;
    font-size: 4.5vw;
    color: #fff;
  }

  #nav_home {
    margin-top: 50px;
  }

  .nav_ul.show {
    transform: translateX(-100%);
    opacity: 1;
  }

  .logo {
    margin-left: 1em;
  }

  /*=====================ABOUT ME==============*/
  #about_title {
    font-size: 1.5rem;
    margin-top: 4em;
  }

  .flaticon_layer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .flaticon_layer img {
    max-width: 90px;
  }

  div.item {
    margin-top: 2.5em;
  }
  .caption {
    margin-top: 0.5em;
  }

  .about_container {
    display: block;
    max-height: unset;
    max-width: unset;
    height: fit-content;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }

  #left_article {
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    max-width: unset;
    text-align: unset;
  }

  #left_article h3 {
    text-align: center;
  }

  .left_column_container {
    width: 100%;
    max-width: unset;
  }

  #right_article {
    max-width: unset;
    line-height: 1.8em;
  }

  #about_img {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .counter_container {
    width: 94%;
    height: 50vh;
    flex-direction: column;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 3%;
  }

  .counter_item {
    height: 15%;
    text-align: unset;
    display: flex;
    justify-content: space-between;
  }

  #counter_number {
    width: 84px;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  .counter_attribute {
    width: 60%;
    display: inline;
    margin-bottom: auto;
    margin-top: auto;
  }

  /*======================SKILLS PAGE=================*/

  #skills_wave {
    height: 11vh;
  }

  .image_container {
    flex-direction: column;
    height: 77vh;
  }

  #skills_img {
    margin-right: auto;
    padding-left: 10%;
    height: 25vh;
    max-width: 100%;
    order: 2;
  }

  .skill_container {
    height: 30vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    flex-grow: 1;
    order: 3;
  }

  #skill_list {
    margin-top: auto;
  }

  .box {
    font-size: 4vw;
    max-height: 35%;
  }
  .skill_title_container {
    width: 100%;
    margin: unset;
    order: 1;
  }

  #skill_title {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3.5%;
    padding: 0;
    margin: auto;
    font-size: 6vw;
  }
  #skill_title li {
    padding: 0;
  }

  .services_container {
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .services_container ul span {
    font-size: 5vw;
    margin-right: auto;
  }

  .services_container img {
    padding-right: 10%;
  }

  #first_list,
  #second_list {
    width: 90%;
    margin: 0;
    padding-left: 10%;
  }
  #first_list li,
  #second_list li {
    margin: 0;
  }

  /*======================================PROJECTS==============================*/
  .projects {
    margin-top: 20%;
  }

  .project1_container {
    flex-direction: column;
    width: 100%;
  }

  .projects_title h2 {
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .projects_title {
    text-align: center;
  }

  .project2_container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .project1_img,
  .project2_img {
    width: 100%;
    height: 45vh;
  }

  .project1_desc,
  .project2_desc {
    width: 80%;
    max-width: unset;
    text-align: left;
    font-size: 4.5vw;
  }

  .top_text h2 {
    font-size: 7vw;
  }

  /*======================================CONTACT========================*/
  .contact {
    border-radius: 50% 50% 0% 0% / 2% 2% 0% 0%;
  }

  .contact_wrapper {
    flex-direction: column;
  }

  .contact_title {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .contact_title h2 {
    font-size: 1.8rem;
  }

  #contact_title_desc {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: unset;
    text-align: center;
  }

  .contact_form,
  .contact_icons {
    width: 100%;
  }

  #form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #top_input_layout,
  #bot_input_layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input_name,
  .input_email,
  .input_subject,
  .input_txt {
    width: 80%;
    margin-top: 3%;
  }

  .input_name {
    margin-right: 0;
  }

  .submit_btn > input {
    width: 150px;
    height: 55px;
    margin-left: 0;
    font-size: 1rem;
  }

  .submit_btn {
    width: 80%;
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }

  /*icons*/

  .location_icon_wrapper,
  .social_media_icon_wrapper,
  .email_icon_wrapper {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 5%;
  }

  .email_icon_wrapper {
    flex-direction: row-reverse;
  }

  .location_container,
  .email_container,
  .media_container {
    width: 60%;
  }

  .location_container,
  .email_container {
    margin-top: auto;
    margin-bottom: auto;
  }

  .contact_top_text {
    margin-bottom: 4%;
  }

  .contact_icons img {
    max-width: 40%;
  }

  .contact_top_text {
    font-size: 1.1rem;
  }

  #my_email,
  #my_city {
    font-size: 4vw;
  }

  .media_container > .contact_top_text {
    display: none;
  }
  .media_container li {
    margin-top: 15px;
  }

  /* =============================FOOTER======================*/
  .top_border,
  .copyright {
    font-size: 2.9vw;
  }
}
